@import "tailwindcss";


@layer base {
  :root {
    --background: 255 255 255;
    --foreground: 0 0 0;
    --accent: 59 130 246;
  }

  .dark {
    --background: 17 24 39;
    --foreground: 243 244 246;
    --accent: 96 165 250;
  }

  .neon {
    --background: 15 23 42;
    --foreground: 0 255 157;
    --accent: 0 255 157;
  }
}

body {
  @apply bg-[rgb(var(--background))] text-[rgb(var(--foreground))] transition-colors duration-200;
}